img {
    width: 500px;
    height: 500px;
    display: block;
    margin: 20px auto;
}

.btn {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.theme-toggle {
    text-align: center;
    margin-top: 50px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.day-theme {
    background-color: #87CEEB;
    color: #000;
}

.night-theme {
    background-color: #1a1d1d;
    color: #fff;
}
